@font-face{
    font-family:"pix font";
    src:url('/font/DottedSongtiSquareRegular.otf');
}

*{
    font-family:"pix font";
    font-weight:bold;
    font-size:24px;
    text-shadow:2px 2px 1px gray;
}